---

- include: iworx-ini.yml
  when:
    - hostvars[inventory_hostname]['interworx::iworx_ini::settings'] is defined
    - mode == "post"

- include: iworx-packages.yml
  when:
    - hostvars[inventory_hostname]['interworx::packages'] is defined
    - mode == "post"

- include: iworx-settings.yml
  when: mode == "post"

- include: iworx-php-scl.yml
  when: mode == "post"

- include: iworx-multi-ssh.yml
  when: mode == "post"

- include: manage-services.yml
  when: mode == "post"

- name: Ensure APF Start-on-boot
  service:
    name="apf"
    enabled="yes"
    state="started"
  when: mode == "post"

- name: Install ImageMagick
  yum:
    name="ImageMagick6"
    enablerepo="remi"
    state="present"
  when: mode == 'post'

# this task is placed here instead of cloudhost.yml so that CI tests pass
- name: Install nexkit
  yum:
    name="nexkit"
    enablerepo="nexcess"
    state="present"
  when: mode == "post"
