---

# don't fail the build if swap vol doesn't exist -- can be added later
- name: "Check for swap volume"
  stat:
    path: /dev/sdb
  register: swapvol

# parted module doesn't support swap fs type, must use shell
- name: "Format swap partition"
  shell: parted /dev/sdb -s -- mklabel gpt mkpart "swap" linux-swap 1 -1
  when: swapvol.stat.exists
  register: swapvol

- name: "Activate swap partition"
  shell: swapon /dev/sdb1
  when: swapvol.shell.rc == 0

- name: "Write swap entry to fstab"
  mount: name=none
    src=/dev/sdb1
    fstype=swap
    opts=defaults
    passno=0
    dump=0
    state=present
  when: swapvol.shell.rc == 0
