---

- include: base.yml

- name: Setup an InterWorx Server
  hosts: cloudhost,saashost
  become: true
  any_errors_fatal: true
  pre_tasks:
    - include: tasks/cloudhost.yml mode="pre"
  roles:
    - { role: nexcess.php, php_prefix: "php56" }
    - { role: nexcess.php, php_prefix: "php70" }
    - { role: nexcess.php, php_prefix: "php71" }
    - { role: nexcess.php, php_prefix: "php72" }
    - { role: nexcess.php, php_prefix: "php73" }
    - nexcess.mariadb
    - nexcess.interworx
    - { role: nexcess.puppet, when: "nex_env_target is undefined or nex_env_target != 'vagrant'" }
    - nexcess.repo
  post_tasks:
    - include: tasks/cloudhost.yml mode="post"
